/*this is for the main*/
html {
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

/*ensures that there's no white space on the sides of the header + footer*/
body {
    margin: 0;
}

.skip {
    /*[4]*/
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    /*[4]*/
    position: static;
    width: auto;
    height: auto;
    background-color: red;
    color: white;
}

@media (max-width: 589px) {
    .level5 {
        /*flexbox used on header to arrange its children (logo, nav, and text) in a row*/
        background-color: #AA6639;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 20px;
    }

    .level6 {
        background-color: #D4876A;
        color: black;
        text-align: center;
        margin-top: 20px;
        padding-top: 0.5px;
        padding-bottom: 8px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        /* Remove right margin */
    }

    .level3 {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .logo {
        width: 70px;
        height: auto;
    }

    .box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        margin: 3rem;

    }

    form {
        background-color: #f8e4d8;
        border: 2px dashed #552100;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        width: fit-content;
    }
}

@media (min-width: 590px) and (max-width: 789px) {
    .level5 {
        background-color: #AA6639;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        gap: 20px;
    }

    .level6 {
        background-color: #D4876A;
        color: black;
        text-align: center;
        margin-bottom: 0.5rem;
        padding: 5px 8px;
    }

    .logo {
        width: 70px;
        height: auto;
    }

    nav {
        display: flex;
        align-self: center;
    }

    .level3 {
        display: flex;
        gap: 15px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        /* Reduce space between elements */
        padding: 10px;
        margin: 3rem;
    }

    form {
        background-color: #f8e4d8;
        border: 2px dashed #552100;
        padding-top: 25px;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 25px;
        width: fit-content;
    }
}

@media (min-width: 790px) {
    html {
        width: 790px;
        margin: 0 auto;
        background-color: white;
    }

    body { /*[6]*/
        box-shadow: 20px 20px 30px rgba(255, 0, 0, 0.5);
    }

    .level5 {
        background-color: #AA6639;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        gap: 20px;
    }

    .level6 {
        background-color: #D4876A;
        color: black;
        text-align: center;
        padding: 5px 8px;
    }

    .logo {
        width: 70px;
        height: auto;
    }

    nav {
        display: flex;
        align-self: center;
    }

    .level3 {
        display: flex;
        gap: 15px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /* Add dividers ( | ) except for the last link [2]*/
    .level7 li:not(:last-child)::after {
        content: "|";
        color: #551700;
        /* Divider color */
        margin-left: 10px;
        /* Space after the divider */
    }

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        /* Reduce space between elements */
        padding: 10px;
        margin: 3rem;
    }

    form {
        background-color: #f8e4d8;
        border: 2px dashed #552100;
        padding-top: 25px;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 25px;
        width: fit-content;
    }
}

.level1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

/*targets the navigation section*/
.level3 {
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

/*targeting the cells of the table*/
.level3 li {
    padding: 0.8rem;
}

/*styling the anchor elements (the hyperlinks)*/
.level3 a {
    text-decoration: none;
    color: black;
    text-align: center;
}

/*styling the current page cell*/
.level3 li.current {
    background-color: #551700;
}

.level3 li.current a {
    color: #FFCBAA
}

/*pseudo-class selector (hover)*/
.level3 li:hover {
    background-color: #552100;
    display: flex;
}

/*changes text color on hover*/
.level3 li:hover a {
    color: #FFCBAA;
}

.center-jump-to {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*targets all the h2*/
.level4 {
    font-family: 'Times New Roman', Times, serif;
    color: #551700;
}

.level7 {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.level7 li {
    padding: 0 10px;
}

.level7 li:hover a {
    color: peru;
}

.block {
    height: auto;
    margin: 0;
    padding: 0;
}

.block img {
    height: auto;
    padding: 2px;
    background-color: #060000;
}

.right {
    float: right;
    width: 150px;
    margin: 10px;
    font-size: small;
    text-align: center;
}

.right img {
    width: 100%;
    height: auto;
    display: block;

}

.center-photo {
    float: right;
    width: 160px;
    margin: 10px;
    font-size: small;
    text-align: center;
}

.center-photo img {
    width: 100%;
    height: auto;
}

.left {
    float: left;
    width: 100px;
    padding-right: 10px;
    margin: 10px;
    font-size: small;
    text-align: center;
}

.left img {
    width: 100%;
    height: auto;
    padding: 2px;
    background-color: #f8f8f8;
}

article {
    background-color: #D4876A;
    padding: 15px;
    height: auto;
    margin: auto;
    overflow: hidden;
    /* Ensures the container expands to include floated elements */

}

.form-section {
    padding-top: 25px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-header {
    text-align: center;
}

fieldset {
    width: fit-content;
}

fieldset[id="textbox"] {
    border: 2px solid maroon;
    padding: 15px 25px;
}

fieldset[id="button"] {
    border: 2px solid maroon;
    padding: 15px 25px;
}

fieldset[id="mail"] {
    border: 2px solid maroon;
    padding: 15px 25px;
}

input[type=text]:focus {
    background-color: #D4876A;
    color: black;
}

input[type=email]:focus {
    background-color: #D4876A;
    color: black;
}

input[type=radio]:focus+label {
    background-color: #D4876A;
    color: black;
}

footer {
    background-color: #AA6639;
    color: #551700;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.level2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.icons {
    text-align: right;
}

/*[3]*/
.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 5px;
    /* Add horizontal space between icons */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
