/*this is for the main*/
html {
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

/*ensures that there's no white space on the sides of the header + footer*/
body {
    margin: 0;
}

.skip {
    /*[4]*/
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    /*[4]*/
    position: static;
    width: auto;
    height: auto;
    background-color: red;
    color: white;
}

@media (max-width: 589px) {
    .level5 {
        /*flexbox used on header to arrange its children (logo, nav, and text) in a row*/
        background-color: #AA6639;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 10px 20px;
    }

    .level6 {
        background-color: #D4876A;
        color: black;
        text-align: center;
        margin-top: 20px;
        padding-top: 0.5px;
        padding-bottom: 8px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        /* Remove right margin */
    }

    .level3 {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .logo {
        width: 70px;
        height: auto;
    }
}

@media (min-width: 590px) and (max-width: 789px) {
    .level5 {
        background-color: #AA6639;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        gap: 20px;
    }

    .level6 {
        background-color: #D4876A;
        color: black;
        text-align: center;
        margin-bottom: 0.5rem;
        padding: 5px 8px;
    }

    .logo {
        width: 70px;
        height: auto;
    }

    nav {
        display: flex;
        align-self: center;
    }

    .level3 {
        display: flex;
        gap: 15px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 790px) {
    html {
        width: 790px;
        margin: 0 auto;
        background-color: white;
    }

    body { /*[6]*/
        box-shadow: 20px 20px 30px rgba(255, 0, 0, 0.5);
    }

    .level5 {
        background-color: #AA6639;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        gap: 20px;
    }

    .level6 {
        background-color: #D4876A;
        color: black;
        text-align: center;
        padding: 5px 8px;
    }

    .logo {
        width: 70px;
        height: auto;
    }

    nav {
        display: flex;
        align-self: center;
    }

    .level3 {
        display: flex;
        gap: 15px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.level1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

/*targets the navigation section*/
.level3 {
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

/*targeting the cells of the table*/
.level3 li {
    padding: 0.8rem;
}

/*styling the anchor elements (the hyperlinks)*/
.level3 a {
    text-decoration: none;
    color: black;
    text-align: center;
}

/*styling the current page cell*/
.level3 li.current {
    background-color: #551700;
}

.level3 li.current a {
    color: #FFCBAA
}

/*pseudo-class selector (hover)*/
.level3 li:hover {
    background-color: #552100;
    display: flex;
}

/*changes text color on hover*/
.level3 li:hover a {
    color: #FFCBAA;
}

/*targets all the h2*/
.level4 {
    font-family: 'Times New Roman', Times, serif;
    color: #551700;
}

.block {
    height: auto;
    margin: 0;
    padding: 0;
}

.block img {
    height: auto;
    padding: 2px;
    background-color: #060000;
}

article {
    background-color: #D4876A;
    padding: 15px;
    height: auto;
    margin: auto;
    gap: 10px;
    padding: 20px;
    margin: 3rem;
}

.cello-table{
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto; /*centers table on the page*/
}
.cello-table td, .cello-table th{
    padding: 5px;
    text-align: center;
    border: 2px solid #552100;
}
/*striped table rows*/
.cello-table tr:nth-child(odd){ /*[6]*/
    background-color:#AA6639;
}
.cello-table tr:nth-child(even){ /*[6]*/
    background-color: bisque;
}
/*contextual selectors*/
header + main .cello-table{ /*header and main are siblings. 
    Using +(accent sibling) specifies the next sibling
    Using " "(space) selects .cello-table class that is contain within */
    margin-top: 2em;
}


footer {
    background-color: #AA6639;
    color: #551700;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.level2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.icons {
    text-align: right;
}

/*[3]*/
.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 5px;
    /* Add horizontal space between icons */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
